{% extends 'base.html'%}
{%block content%} <div align="center">
    Here are random facts about random numbers!<br>
    1. 42 is the answer to the Ultimate Question of Life, the Universe, and Everything.<br>
    2. 144 is the Intel 8086 instruction for no operation (NOP). <br>
    3. 8964 is the smallest number with the property that its first 6 multiples contain the digit 8. <br>
    4. 9415 is the sum of the first 19 numbers that have digit sum 19. <br>
    5. 1612 is the year that Shah Jahan marries Mumtaz Mahal on May 10th. <br>
    6. 182 is the atomic number of an element temporarily called Unoctbium.<br>
    7. 2026 is the year that Heinz von Foerster's predicted technological (or rather demographic) singularity occurs on November 13th.<br>
    8. 228 is the year that the Battle of Jieting and the Battle of Shiting are fought in China.<br>
    9. 4029 is the number of regions formed when all diagonals are drawn in a regular 19-gon.<br>
    10. 5489 is the maximum number of regions a cube can be cut into with 32 cuts.<br>
    <img src="{{ url_for('static', filename='img/photo1.jpg')}}" width="40%">

</div>
{% endblock %}
